-- SQL para permitir empleado_id NULL en respuestas anónimas

-- ✅ La tabla clima_respuestas ya está correcta (empleado_id permite NULL)

-- ❌ La tabla clima_respuestas_abiertas tiene empleado_id en PRIMARY KEY
-- Necesita modificación estructural:
-- -----------------------------------------------------------------

-- 1. Eliminar PRIMARY KEY compuesta
ALTER TABLE clima_respuestas_abiertas DROP PRIMARY KEY;

-- 2. Agregar nueva columna como PRIMARY KEY
ALTER TABLE clima_respuestas_abiertas 
ADD COLUMN respuesta_abierta_id INT(11) AUTO_INCREMENT PRIMARY KEY FIRST;

-- 3. Modificar empleado_id para permitir NULL
ALTER TABLE clima_respuestas_abiertas 
MODIFY COLUMN empleado_id INT(11) NULL;

-- 4. Crear índice UNIQUE en lugar de PRIMARY KEY
ALTER TABLE clima_respuestas_abiertas 
ADD UNIQUE INDEX idx_periodo_empleado_pregunta (periodo_id, empleado_id, pregunta_id);

-- 5. Eliminar y recrear foreign key
ALTER TABLE clima_respuestas_abiertas 
DROP FOREIGN KEY fk_cra_empleado;

ALTER TABLE clima_respuestas_abiertas 
ADD CONSTRAINT fk_cra_empleado 
FOREIGN KEY (empleado_id) REFERENCES empleados(empleado_id) 
ON DELETE CASCADE ON UPDATE CASCADE;

-- ✅ LISTO - Ahora ambas tablas permiten empleado_id NULL para respuestas anónimas

